@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
	margin: 0;
	background-image: url(img/Stars.jpg);
}

body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80vh;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 61%,
		rgba(0, 0, 0, 0.54) 79%,
		rgba(0, 0, 0, 0) 100%
	);
	z-index: 1;
}
.intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: rgb(75, 213, 238);
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 3.25rem;
	width: 80%;
	opacity: 0;
	animation: intro 6s ease-out 0.5s;
}

@keyframes intro {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	opacity: 0;
	animation: logo 10s ease-out 9s;
}

.logo img {
	width: inherit;
}

@keyframes logo {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(2);
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}
}

.container {
    font-family: sans-serif;
	font-weight: bold;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	height: 50em;
	width: 20em;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10em;
	z-index: 0;
	transform: perspective(350px) rotateX(25deg);
	transform-origin: 50% 100%;
}
.container::after {
	position: absolute;
	content: "";
	bottom: 60%;
	left: 0;
	right: 0;
	top: 0;
}

.credits{
    position: absolute;
	top: 100%;
	animation: text 100s linear 16s;
}
@keyframes text {
    0% {
      top: 0;
      transform: rotateX(20deg) translateZ(0);
    }
    100% {
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

h1{
    font-size: 2.5rem;
    text-align: center;
}
p{
    padding: 0.5rem 0;
    color: #ffe81f;
}
